
body,p,h1,form,input{
    margin:0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    }
#form{
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    }

body {
    color:#555;
}

form p{
    font-size: 14px;
    }

h1{
    text-align: center;
    }

.mail,.pass{
    margin-bottom: 20px;
    }

input[type="email"],
input[type="password"] {
    width: 300px;
    padding: 4px;
    font-size: 14px;
    }
    
.submit{
    text-align: right;
    }